<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="./style/style.css">

    <!-- fontawesome kit -->
    <script src="https://kit.fontawesome.com/5a232a2b76.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid position-relative">
        <div class="wrapper mx-5">
            <!-- navbar -->
            <nav class="navbar bg-white">
                <div class="wrapperdiv mt-1">
                    <!-- logo -->
                    <div class="logo">
                        <a class="navbar-brand" href="/"><img src="./assets/airbnbLogo.png" alt="Logo"></a>
                    </div>

                    <!-- rounded search -->
                    <div class="rounded-pill bg-white d-flex shadow p-1 search">
                        <button class="btn"><strong>AnyWhere</strong></button>
                        <span style="height: 38px; width: 2px; background-color: black;"></span>
                        <button class="btn font-weight-bold"><strong>Anyweek</strong></button>
                        <span style="height: 38px; width: 2px; background-color: black;"></span>
                        <button class="btn ">Add guest</button>
                        <button class="btn btn-danger mx-1 rounded-circle"><span><i
                                    class="fa-solid fa-magnifying-glass"></i></span></button>
                    </div>

                    <!-- host and user btn -->
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="/host" class="btn btn-outline-light text-dark mx-1 "><strong>Become a host</strong></a>
                        <button class="btn btn-outline-light text-dark mx-1"><strong><i
                                    class="fa-solid fa-globe"></i></strong></button>
                        <button class="btn btn-outline-dark rounded-pill mx-1 logbtn"><strong><span class="mx-2"><i
                                        class="fa-solid fa-bars"></i></span><span><i
                                        class="fa-solid fa-user"></i></span></strong>
                        </button>
                    </div>
                </div>
            </nav>

        </div>
        <hr>
        <!-- dropdown -->
        <div class="log position-absolute rounded d-flex flex-column bg-white shadow p-2 d-none" style="width: 250px;">
            <div class="linkHost">

            </div>
            <hr>
            <a href="/mybookings" class="text-decoration-none text-black">My bookings</a>
            <a href="/contact" class="text-decoration-none text-black">Contact us</a>
            <a href="/host" class="text-decoration-none text-black">Host your home</a>
            <a href="/host" class="text-decoration-none text-black">Host your experience</a>
            <a href="#" class="text-decoration-none text-black">Help</a>
        </div>

        <!-- wrapper -->
        <div class="wrapper mx-5">
            <!-- card row -->
            <div class="row" id="wrap">


            </div>

        </div>

    </div>

    <!-- footer -->
    <footer class="bg-light pt-1 position-fixed d-flex justify-content-center align-items-center">
        <p class="mt-1">Developed my Saravanan</p>
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="./script/script.js"></script>

    <script src="./script/indexpage.js"></script>
</body>

</html>